<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.indianmistry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity
            android:name=".Servicz"
            android:label="@string/title_activity_servicz"
            android:theme="@style/AppTheme" />
        <activity android:name=".ServiceSelected" />
        <activity android:name=".Callus" />
        <activity android:name=".Terms" />
        <activity
            android:name=".profile"
            android:label="Profile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".ybooking" />
        <activity android:name=".rate"></activity>
    </application>

</manifest>